{% extends 'website/layout.html.twig' %}
{% block title %} {{parent()}} | Inscription {% endblock %}
{% block meta %}
    <meta name="description" content="">
{% endblock %}

{% block dataStructured %}{% endblock %}

{% block stylesheets %}
	{{parent()}}
    <link href="{{ asset('assets/css/wizard.css')}}" rel="stylesheet" type="text/css" media="all" />
    <style type="text/css">
    	.alert-warning.alert-inscription {
		    max-width: 900px;
		    margin: auto;
		}
    	.lds-ripple {
	        display: none;
	        width: 80px;
	        height: 80px;
	        position: absolute;
	        top: 11rem;
	        left: 0;
	        right: 0;
	        margin: auto;
	        z-index: 50;
	    }
	    .lds-ripple div {
	      position: absolute;
	      border: 4px solid green;
	      opacity: 1;
	      border-radius: 50%;
	      animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
	    }
	    .lds-ripple div:nth-child(2) {
	      animation-delay: -0.5s;
	    }
	    @keyframes lds-ripple {
	      0% {
	        top: 36px;
	        left: 36px;
	        width: 0;
	        height: 0;
	        opacity: 1;
	      }
	      100% {
	        top: 0px;
	        left: 0px;
	        width: 72px;
	        height: 72px;
	        opacity: 0;
	      }
	    }


	    /**
	     * Extracted from: SweetAlert
	     * Modified by: Istiak Tridip
	     */
	    .success-checkmark {
	        position: absolute;
	        top: 50%;
	        left: 0;
	        right: 0;
	        transform: translateY(-50%);
	        z-index: 60;
	      width: 80px;
	      height: 115px;
	      margin: 0 auto;
	      display: none;
	    }
	    .success-checkmark .check-icon {
	      width: 80px;
	      height: 80px;
	      position: relative;
	      border-radius: 50%;
	      box-sizing: content-box;
	      border: 4px solid #4CAF50;
	      display: none;
	    }
	    .success-checkmark .check-icon::before {
	      top: 3px;
	      left: -2px;
	      width: 30px;
	      transform-origin: 100% 50%;
	      border-radius: 100px 0 0 100px;
	    }
	    .success-checkmark .check-icon::after {
	      top: 0;
	      left: 30px;
	      width: 60px;
	      transform-origin: 0 50%;
	      border-radius: 0 100px 100px 0;
	      animation: rotate-circle 4.25s ease-in;
	    }
	    .success-checkmark .check-icon::before, .success-checkmark .check-icon::after {
	      content: '';
	      height: 80px;
	      position: absolute;
	      /*background: #FFFFFF;*/
	      transform: rotate(-45deg);
	    }
	    .success-checkmark .check-icon .icon-line {
	      height: 5px;
	      background-color: #4CAF50;
	      display: block;
	      border-radius: 2px;
	      position: absolute;
	      z-index: 10;
	    }
	    .success-checkmark .check-icon .icon-line.line-tip {
	      top: 46px;
	      left: 14px;
	      width: 25px;
	      transform: rotate(45deg);
	      animation: icon-line-tip 0.75s;
	    }
	    .success-checkmark .check-icon .icon-line.line-long {
	      top: 38px;
	      right: 8px;
	      width: 47px;
	      transform: rotate(-45deg);
	      animation: icon-line-long 0.75s;
	    }
	    .success-checkmark .check-icon .icon-circle {
	      top: -4px;
	      left: -4px;
	      z-index: 10;
	      width: 80px;
	      height: 80px;
	      border-radius: 50%;
	      position: absolute;
	      box-sizing: content-box;
	      border: 4px solid rgba(76, 175, 80, 0.5);
	    }
	    .success-checkmark .check-icon .icon-fix {
	      top: 8px;
	      width: 5px;
	      left: 26px;
	      z-index: 1;
	      height: 85px;
	      position: absolute;
	      transform: rotate(-45deg);
	      /*background-color: #FFFFFF;*/
	    }

	    @keyframes rotate-circle {
	      0% {
	        transform: rotate(-45deg);
	      }
	      5% {
	        transform: rotate(-45deg);
	      }
	      12% {
	        transform: rotate(-405deg);
	      }
	      100% {
	        transform: rotate(-405deg);
	      }
	    }
	    @keyframes icon-line-tip {
	      0% {
	        width: 0;
	        left: 1px;
	        top: 19px;
	      }
	      54% {
	        width: 0;
	        left: 1px;
	        top: 19px;
	      }
	      70% {
	        width: 50px;
	        left: -8px;
	        top: 37px;
	      }
	      84% {
	        width: 17px;
	        left: 21px;
	        top: 48px;
	      }
	      100% {
	        width: 25px;
	        left: 14px;
	        top: 45px;
	      }
	    }
	    @keyframes icon-line-long {
	      0% {
	        width: 0;
	        right: 46px;
	        top: 54px;
	      }
	      65% {
	        width: 0;
	        right: 46px;
	        top: 54px;
	      }
	      84% {
	        width: 55px;
	        right: 0px;
	        top: 35px;
	      }
	      100% {
	        width: 47px;
	        right: 8px;
	        top: 38px;
	      }
	    }
    </style>
{% endblock %}

{% block body_web %}
	{%  set mois = [{'number':'01', 'val':'Janvier'}, {'number':'02', 'val':'Fevrier'}, {'number':'03', 'val':'Mars'}, {'number':'04', 'val':'Avril'}, {'number':'05', 'val':'Mai'}, {'number':'06', 'val':'Juin'}, {'number':'07', 'val':'Juillet'}, {'number':'08', 'val':'Aout'}, {'number':'09', 'val':'Septembre'}, {'number':'10', 'val':'Octobre'}, {'number':'11', 'val':'Novembre'}, {'number':'12', 'val':'Decembre'}] %}
	<div class="bg-gradient p-0 o-hidden" data-overlay>
      <section class="pb-0" style="padding-top:3.5rem">
        <div class="container">
          <div class="text-white">
            <div class="row section-title justify-content-center text-center" style="margin-bottom: 20px">
              <div class="col-md-9 col-lg-8 col-xl-7">
                <h1 class="display-3" style="font-size: 40px;">Inscrivez-vous en quelques etapes</h1>
                <div class="lead" ></div>
              </div>
            </div>
          </div>
	          	
		<div id="solution-popup">
			{% for message in app.flashes('msg_to_valide_account') %}
	          <div class="alert alert-warning alert-dismissible fade show alert-inscription" role="alert">
				  {{ message }}
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
			  </div>
	       {% endfor %}
			<div class="solution-container" >
				<div class="progress-container" style="position: relative;">
					<div id="line-progress" data-stape="1" style="visibility:hidden"></div>
					<div class="list-elt-bar">
						<div class="item-elt-bar active">
							<span class="num-stape">1</span>
							<span class="fa fa-check check num-stape"></span>
							<div class="name-stape">Personal Details</div>
						</div>
						<div class="item-elt-bar">
							<span class="num-stape">2</span>
							<span class="fa fa-check check num-stape"></span>
							<div class="name-stape">More About You</div>
						</div>
						<div class="item-elt-bar">
							<span class="num-stape">3</span>
							<span class="fa fa-check check num-stape"></span>
							<div class="name-stape">Account Configuration</div>
						</div>
						<div class="item-elt-bar">
							<span class="num-stape">4</span>
							<span class="fa fa-check check num-stape"></span>
							<div class="name-stape">Confirm Your ID</div>
						</div>
						<div class="item-elt-bar">
							<span class="num-stape">1</span>
							<span class="fa fa-check check num-stape"></span>
							<div class="name-stape">Fund your Account</div>
						</div>
					</div>
				</div>
				<div class="solution-container shadow" style="position: relative;background: #fff; padding: 30px;">
					<div class="lds-ripple"><div></div><div></div></div>
                    <div class="success-checkmark">
                      <div class="check-icon">
                        <span class="icon-line line-tip"></span>
                        <span class="icon-line line-long"></span>
                        <div class="icon-circle"></div>
                        <div class="icon-fix"></div>
                      </div>
                    </div>
					<div class="solution-stape-list" style="padding: 0 10px;">
						<div class="stape-item active animated fadeIn">
							{{ include("website/inscription/detail_personnel.html.twig") }}
						</div>
						<div class="stape-item animated fadeIn">
							{{ include("website/inscription/apropos_de_moi.html.twig") }}
						</div>
						<div class="stape-item animated fadeIn">
							{{ include("website/inscription/configuration_compte.html.twig") }}
						</div>
						<div class="stape-item animated fadeIn">
							{{ include("website/inscription/confirmation_identite.html.twig") }}
						</div>
						<div class="stape-item animated fadeIn">
							<p style="font-size: 19px;">
								Votre compte de trading en direct est en cours de traitement et vous recevrez sous peu un e-mail contenant de plus amples informations.
									Pour accélérer le traitement de votre compte en direct, vous pouvez financer votre compte maintenant et recevoir une ouverture prioritaire.
							</p>
						</div>
					</div>
				</div>
				<div class="stape-nav">
				 <div class="content-nav-btn">
				     <span class="btn-prev btn">PRECEDENT</span>
				     <span class="btn-next btn btn-primary ml-lg-4 mr-3 mr-md-4 mr-lg-0 d-none d-sm-block order-lg-3 {% if (informations is not null) and (informations.getIsCreate) %} inscription-complete {% endif %} ">SUIVANT</span>
				 </div>
				</div>
			</div>
		</div>

        </div>
        <div class="divider divider-bottom bg-white"></div>
      </section>
    </div>
    <section>
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-auto" data-aos="fade-up">
            <div class="px-md-4 px-lg-5 mb-5 mb-md-0">
              <h5>Email us</h5>
              <a href="#" class="lead">hello@jumpstart.io</a>
            </div>
          </div>
          <div class="col-md-auto" data-aos="fade-up" data-aos-delay="100">
            <div class="px-md-4 px-lg-5 mb-5 mb-md-0">
              <h5>Drop in</h5>
              <address>
                <p>443 Park Avenue South,</p>
                <p>Kips Bay</p>
                <p>New York City</p>

              </address>
              <a href="#">Get Directions</a>
            </div>
          </div>
          <div class="col-md-auto" data-aos="fade-up" data-aos-delay="200">
            <div class="px-md-4 px-lg-5 mb-5 mb-md-0">
              <h5>Call any time</h5>
              <a href="#" class="lead">1800 488 328</a>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock body_web %}

{% block javascripts %}
	{{parent()}}
	<script type="text/javascript" src="{{ asset('assets/js/wizard.js')}}"></script>
	<script type="text/javascript">
		$('.btn-prev, .btn-next').click( function(e){ 
		    var speed = 800; 
		    $elt = $(this).data('id');
		    $('html, body').animate({scrollTop:($("#solution-popup").offset().top)-100}, speed);
		});
	</script>
{% endblock %}
