{% extends 'backoffice/layout.html.twig' %}
{% block title %} {{parent()}} | Liste des abonnés {% endblock %}
{% block meta %}
    <meta name="description" content="">
{% endblock %}

{% block stylesheets %}
    {{parent()}}

{% endblock %}

{% block title_page %}
    <div style="display:flex; align-items:center">
        <h4>Liste des signaux</h4> 
        <a href="{{ path('signaux_new') }}" class="btn btn-button-4">Nouveau signal</a>
    </div>
{% endblock %}

{% block body_dash %}
    <div class="table-responsive mb-4">
        <table id="zero-config" class="table table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Date_placement</th>
                    <th>Evenement</th>
                    <th>Gain (€)</th>
                    <th>Status</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for signaux in signauxes %}
                <tr>
                    <td>{{ signaux.id }}</td>
                    <td>{{ signaux.datePlacement ? signaux.datePlacement|date('Y-m-d H:i') : '' }}</td>
                    <td>{{ signaux.evenement }}</td>
                    <td>{{ signaux.gain }}</td>
                    <td>{{ signaux.status == 0 ? 'En cours' : 'Terminé'}}</td>
                    <td style="text-align:center">
                        <a href="{{ path('signaux_edit', {'id': signaux.id}) }}" class="btn btn-primary" style="margin-bottom: 3px;">edit</a>
                        {{ include('signaux/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
        $('#modernSidebar .menu > a.signaux').addClass('open');
    </script>
{% endblock %}
