{% extends 'backoffice/layout.html.twig' %}
{% block title %} {{parent()}} | Liste des abonnés {% endblock %}
{% block meta %}
    <meta name="description" content="">
{% endblock %}

{% block stylesheets %}
	{{parent()}}

{% endblock %}

{% block title_page %}
    {% if( abonne == 'abonne' ) %}
        <h4>Liste d'abonnés</h4>
    {% else %}
        <h4>Liste inscrit</h4>
    {% endif %}
{% endblock %}

{% block body_dash %}
    <div class="table-responsive mb-4">
        <table id="zero-config" class="table table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Prenom</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Telephone</th>
                    <th>Pays residence</th>
                    <th>Depot estime</th>
                    <th>Devise</th>
                    <th>Etat</th>
                    <th class="invisible"></th>
                </tr>
            </thead>
            <tbody>
            	{% for user in users %}
                		<tr>
                            <td>{{user.id}}</td>
                            <td>{{ user.information is not null ? user.information.prenom : user.prenom}}</td>
                            <td>{{user.information is not null ? user.information.getNomFamille : "" }}</td>
                            <td>{{user.information is not null ? user.information.email : user.email}}</td>
                            <td>{{ user.information is not null ? user.information.telephone : user.telephone}}</td>
                            <td>{{ user.information is not null ? user.information.getPaysResidence : "" }}</td>
                            <td>{{ user.information is not null ? user.information.getDepotEstime : "" }}</td>
                            <td>{{ user.information is not null ? user.information.devise : '' }}</td>
                            <td>
                            	{% if user.information is not null and user.information.getIsCreate %}
                            		Abonné crée
			                    {% elseif user.information is not null %}
			                        {{user.information.getIsComplete ? 'Complet':'pas complet'}}
			                    {% endif %}
                            </td>
                            <td style="text-align:center">
                            	<a class="btn btn-primary" href="{{path('informations_abonne', {'id':user.id})}}">details</a>
                                {% if( abonne == 'abonne' ) %}
                                    <a class="btn btn-primary" href="{{path('abonne_action', {'user_id':user.id, 'abonne':'desabonne'})}}" style="margin-top:6px;">désabonner</a>
                                {% else %}
                                    <a class="btn btn-primary" href="{{path('abonne_action', {'user_id':user.id, 'abonne':'abonne'})}}" style="margin-top:6px;">abonné</a>
                                {% endif %}
                            </td>
                        </tr>
                    
            	{% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Prenom</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Telephone</th>
                    <th>Pays residence</th>
                    <th>Depot estime</th>
                    <th>Devise</th>
                    <th>Etat</th>
                    <th class="invisible"></th>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock body_dash %}

{% block javascripts %}
	{{parent()}}
    <script type="text/javascript">
        {% if abonne == "abonne" %}
            $('#modernSidebar .menu > a.abonne').addClass('open');
        {% else %}
            $('#modernSidebar .menu > a.inscrit').addClass('open');
        {% endif %}
    </script>
{% endblock %}
